* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #23252c;
  width: 100%;
  height: auto;
  padding: 0 35.5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  max-width: 400px;
  border-radius: 0px 0px 10px 10px;
}

/* Info */

.info_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info_container {
  max-width: 450px;
}

.info_img {
  margin-top: 35px;
  width: 250px;
  height: 250px;
  border-radius: 10px 10px 0px 0px;
}

.info {
  color: #ffffff;
}

.info_name {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 1.6rem;
  line-height: 30px;
  text-align: center;
}

.info_title {
  font-size: 0.8rem;
  line-height: 15px;
  text-align: center;
  color: #f3bf99;
}

.info_link {
  margin-left: 30%;
  font-size: 0.7rem;
  line-height: 150%;
  text-align: center;
  color: #f5f5f5;
}

.info_social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-top: 15px;
  margin-bottom: 33px;
}

.info_social button {
  width: 110px;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 16px;
  text-transform: capitalize;
  border: none;
  border-radius: 6px;
  padding: 9px 13px 9px 11px;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  transition: 0.5s ease;
}

.email {
  background: #ffffff;
  color: #374151;
}

.email:hover {
  background: #5093e2;
  color: white;
  border: 1px solid #d1d5db;
}

.linkInd {
  background: #5093e2;
  color: #ffffff;
}

.linkInd:hover {
  background: #ffffff;
  color: #5093e2;
  border: 1px solid #5093e2;
}

.fa_icon {
  margin-right: 8px;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  max-width: 240px;
}

/* About And Interests */

.about,
.interests {
  color: #f5f5f5;
  height: auto;
}

.title {
  font-size: 1.2rem;
  line-height: 150%;
}

.text {
  color: #dcdcdc;
  font-size: 0.7rem;
  line-height: 150%;
}

/* Footer */

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: 14px 60.5px;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
}

.footer ul li a {
  color: #918e9b;
  font-size: 1.5rem;
}

.faIcon:hover {
  box-shadow: 0 0 0 3px #5093e2;
  border-radius: 2px 2px 2px 2px;
  background: #5093e2;
  color: white;
}
